<h1>Edit your pokedex entry for <%= @pokemon.name %></h1>
<div class="page-div">
  <form method="POST" action="/<%= @pokemon.id %>">
    <input type="hidden" name="_method" value="PUT">

    <div class="input-div">
      <label for="index">National Pokedex Number</label>
      <input type="number" name="index" value="<%= @pokemon.index %>">
    </div>

    <div class="input-div">
      <label for="name">Pokemon name</label>
      <input type="text" name="name" value="<%= @pokemon.name %>">
    </div>

    <div class="input-div">
      <label for="location">Location caught</label>
      <input type="text" name="location" value="<%= @pokemon.location %>">
    </div>

    <div class="input-div">
      <label for="day">Date caught</label>
      <input type="date" name="day" value="<%= @pokemon.day %>">
    </div>

    <div class="input-div">
      <label for="shiny">Shiny</label>
      <input type="checkbox" name="shiny" value="true">
    </div>

    <input type="submit" value="Submit">
  </form>
</div>