<h1><%= @pokemon.name %></h1>
<div class="page-div">
  <div>
    <p>Location caught: <%= @pokemon.location %></p>
  </div>
  <div>
    <p>Date caught: <%= @pokemon.day %></p>
  </div>
  <div>
    <p>Shiny: <%= @pokemon.shiny %></p>
  </div>

  <a href="/<%= @pokemon.id %>/edit">Edit</a>
  <form action="<%= @pokemon.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input id="delete-button" type="submit" value="Delete">
  </form>
</div>